.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
 animation: enter 0.5s ease-in-out;
  .box {
    position: relative;
    width: 16.5rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    &__red-yellow:before,
    &__red-yellow:after{
      background: linear-gradient(315deg, #ffbc00, #ff0058);
    }
    &__pink-blue:before,
    &__pink-blue:after {
      background: linear-gradient(315deg, #03a9f4, #ff0058);
    }
    &__green-blue:before,
    &__green-blue:after  {
      background: linear-gradient(315deg, #4dff03, #00d0ff);
    }
    &:hover span::after {
      bottom: -35px;
      right: 100px;
      width: 85px;
      height: 85px;
      opacity: 1;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50px;
      width: 50%;
      height: 100%;
      background-color: #ffffff;
      border-radius: 8px;
      transform: skewX(15deg);
      transition: 0.5s;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50px;
      width: 50%;
      height: 100%;
      background-color: #ffffff;
      border-radius: 8px;
      transform: skewX(15deg);
      transition: 0.5s;
      filter: blur(30px);
      transition: 0.5s;
    }
    &:hover:before,
    &:hover:after {
      transform: skewX(0deg);
      left: 20px;
      width: calc(100% - 90px);
    }
    &:hover span::before {
      top: -35px;
      left: 35px;
      width: 85px;
      height: 85px;
      opacity: 1;
    }
    &span::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: 8px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      opacity: 0;
      transition: 0.5s;
      animation: animate 2s linear infinite;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
      animation-delay: -1s;
    }
    span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 50;
      pointer-events: none;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 8px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: 0.5s;
        animation: animate 2s linear infinite;
      }
    }
  }
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wrapper .box .content {
  position: relative;
  left: -20px;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: 0.5s;
  z-index: 1;
  color: #fff;
}
