@use './Commits.scss';
@use './OnePullRequest.scss';

@import '../../modules/shared/assets/styles/abstracts/mixins';
.ant-collapse {
  width: 100%;
  border: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  &-header {
    padding: 0.5rem !important;
    align-items: center !important;
  }
}
.ant-collapse-item {
  width: 100%;
  padding: 1rem;
  @include GlassEffect();
  border-radius: 0;
  gap: 0.5rem;
  background: rgba(24, 24, 24, 0.531) !important;
  border: 0 !important;
  &:last-child > .ant-collapse-content {
    border-radius: 0.5rem;
  }
}
.ant-collapse-arrow {
  svg path {
    fill: white;
  }
}
.ant-collapse-content {
  border-radius: 0.5rem;
  background: rgba(58, 58, 58, 0.55) !important;
  border: 0 !important;
  padding: 0;
}
