@mixin Flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin GlassEffect {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(0.2px);
  border: 1.5px solid rgba(255, 255, 255, 0.085);
  border-radius: 12px;
  box-shadow:
    rgba(204, 219, 232, 0.102) 2px 2px 5px 0px inset,
    rgba(255, 255, 255, 0.046) -2px -2px 5px 1px inset;
}