@use '../../assets/styles/abstracts/mixins' as *;
.header {
  width: 100%;
  min-height: 12rem;
  position: relative;
  background: rgba(255, 255, 255, 0.13);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(0.5px);
  border: 1.5px solid rgba(255, 255, 255, 0.085);
  border-radius: 0 0 12px 12px;
  padding: 1rem;
  @include Flex(column, start);
  gap: 1rem;
  box-shadow:
    rgba(204, 219, 232, 0.102) 2px 2px 5px 0px inset,
    rgba(255, 255, 255, 0.046) -2px -2px 5px 1px inset;
  @media screen and (max-width: 1000px) {
    height: 12rem;
  }
  &__sign-out{
    position: absolute ;
    top : 1rem;
    right: 1rem
  }
  &__credentials {
    @include Flex();
    position: absolute;
    bottom: -3rem;
    left: 3rem;
    gap: 1rem;
    @media screen and (max-width: 1000px) {
      bottom: -4rem;
      left: 50%;
      transform: translateX(-50%);
      flex-direction: column-reverse;
      justify-content: center;
    }
    &__block {
      @include Flex(column, start, start);
      align-self: start;
      padding-top: 1rem;
      &__title {
        color: white;
        font-size: 1.8rem;
        letter-spacing: 2px;
      }
      &__sub-title {
        color: rgba(201, 200, 200, 0.688);
        font-size: 0.9rem;
        font-weight: 300;
      }
    }
  }
  &__image {
    width: 10rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.204);
    @media screen and (max-width: 1000px) {
      width: 8rem;
    }
    &__src {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
