@use './Globe/index' as * ;
.universe-layout {
  width: 100%;
  height: 100%;
  background: url('../modules/shared/assets/images/bg.jpeg');
  background-repeat: repeat;
  animation: animateBg infinite ease-in-out;
  animation-duration: 120s;
}
@keyframes animateBg {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
