@use '../../../shared/assets/styles/abstracts/mixins' as *;
.login-module {
  height: 100vh;
  width: 100vw;
  @include Flex();
  @media only screen and (max-width: 475px) {
    .login-card-container {
      width: 85%;
    }
  }
}
