@use '../../assets/styles/abstracts/mixins' as *;
.main-container {
  @include Flex(column, start, center);
  padding: 2rem;
  overflow: auto;
  width: 100%;
  &::-webkit-scrollbar{
    display: none;
  }

}
