.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(255, 10, 10, 0.578);
  background-color: rgb(255, 65, 65);
  &:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: 0.3s;
    .sign {
      width: 30%;
      transition-duration: 0.3s;
      padding-left: 20px;
    }
    .text {
     opacity: 1;
     width: 70%;
     transition-duration: 0.3s;
     padding-right: 10px;
   }
  }

  &:active {
    transform: translate(2px, 2px);
  }
  .sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 17px;
    }
    svg path {
      fill: white;
    }
  }
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: 0.3s;
  }
}
