@use '../shared/assets/styles/abstracts/mixins' as *;
.one-commit-page {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem 0 1rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  align-items: start;
  justify-content: center;
  gap: 2rem;

  &__files {
    @include Flex(column, start, start);
    gap: 0.5rem;
    max-height: 50vh;
    overflow-y: auto;
    width: 20rem;
    &::-webkit-scrollbar {
      display: none;
    }
    &__one-file {
      @include Flex(row, space-between);
      @include GlassEffect();
      gap: 1rem;
      padding: 1rem;
      width: 20rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: rgba(138, 138, 138, 0.232);
      }
      &--active {
        background: rgba(138, 138, 138, 0.381);
        &:hover {
          background: rgba(138, 138, 138, 0.381);
        }
      }
      &__stats {
        @include Flex();
        gap: 1rem;
      }
      &__name {
        color: white;
        max-width: 14rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    &__title {
      color: white;
      font-size: 1.2rem;
      padding-left: 0.5rem;
      font-weight: 700;
    }
  }
  &__content {
    @include Flex(column);
  }
  &__file-changes {
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    &--delete {
      background-color: #ef233c;
    }
    &--addition {
      background-color: #2dc653;
    }
  }
  &__content {
    @include Flex(column, start, start);
    gap: 0.5rem;
    &__blanc {
      @include Flex(column);
      @include GlassEffect();
      width: 100%;
      min-height: 30rem;
      max-height: 50vh;

      &:has(.editor) {
        justify-content: flex-start;
      }
      &__editor {
        width: 100%;
        padding: 1rem;
        position: relative;
        overflow: auto;
        padding-bottom: 4rem;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      &__one-file {
        @include Flex(column);
        gap: 1rem;
        &__src {
          width: 8rem;
        }
        &__message {
          color: white;
          font-size: 1rem;
          text-transform: capitalize;
          font-weight: 600;
        }
      }
    }
  }
}
.code-diff {
  width: 100%;
  overflow: hidden;
  &__wrapper {
    width: 100%;
    animation: enter 0.3s ease-in-out;
  }
  .d2h-file-list-wrapper {
    display: none;
  }
  * {
    color: white;
    line-height: 2;
  }
  .d2h-dark-color-scheme {
    background: rgb(29, 29, 29) !important;
  }
  .d2h-del {
    background-color: rgba(253, 0, 46, 0.5) !important;
  }
  .d2h-ins {
    background-color: rgba(181, 255, 8, 0.5) !important;
  }
  .d2h-cntx {
    background-color: rgba(70, 185, 242, 0.25) !important;
  }
}

.editor__modal {
  width: 45rem !important;
  .anticon {
    svg {
      width: 1.8rem;
      height: 1.8rem;
      border: 1px solid #ffffff30;
      padding: 0.5rem;
      border-radius: 50%;
      path {
        fill: white;
      }
    }
  }
  .ant-modal-content {
    @include GlassEffect();
    background: rgba(45, 45, 45, 0.627);
    height: 80vh;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(249, 249, 249, 0.206);
  }
  .ant-modal-header {
    background: transparent !important;
  }
  .ant-modal-title {
    background: transparent;
    color: white !important;
    font-weight: 800 !important;
    font-size: 1.2rem !important;
  }
  .ant-modal-body {
    height: 98%;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
  }
  .ant-modal-footer {
    display: none;
  }
}

.stream-wrapper {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  border-radius: 1rem 1rem 0 0;
  background-image: url('../modules/AIModal/assets/images/chat-space.jpeg');
  background-size: contain;
  &::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.976);
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(64, 63, 63);
    border-radius: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: rgba(226, 225, 225, 0.93);
  }
  &__button {
    padding: 0.8rem;
    width: 100%;
    @include Flex(row, flex-end);
    bottom: 0;
    left: 0;
    position: fixed;
    backdrop-filter: blur(2px);
    background: rgba(92, 92, 92, 0.174);
  }
  &__text {
    @include Flex(column, start, start);
    width: 100%;
    gap: 1rem;
    font-size: 0.8rem;
    white-space: pre-line;
    color: #000000;
    @include GlassEffect();
    background: rgba(45, 45, 45, 0.867);
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    &__user {
      @include Flex();
      gap: 1rem;
    }
    &__avatar {
      width: 2rem;
      aspect-ratio: 1;
      border-radius: 50%;
      object-fit: cover;
    }
    &__name {
      color: white;
      font-weight: 800;
    }
    &__content {
      color: white;
    }
  }
}
